<h1>Movies#</h1>
<h1>Movies#editar</h1>

<div>
    <button class="secondary"> <%= link_to "Volver",   root_path %> </button>
    <button class="secondary"> <%= link_to "Listar",   movies_show_path %> </button>
    <button class="secondary"> <%= link_to "Crear",    movies_new_path %> </button>
    <button class="secondary"> <%= link_to "Editar",   movies_editar_path %> </button>
    <button class="secondary"> <%= link_to "Eliminar", movies_eliminar_path %> </button>
<div>
<br>


<%= form_with model: @movie, method: :delete do |form| %>
    <div>
        <%= form.label :id, "Id" %>
        <%= form.text_field :id, required: true %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>

