<div>
    <h1>Películas</h1>

    <div class="grid"> 
        <%= form_with url: movies_string_path, method: :get, local: true do |form| %>
            <button class="secondary"> <%= link_to "Volver", root_path %> </button>
            <button class="secondary"> <%= link_to "Listar", movies_index_path %> </button>
            <button class="secondary"> <%= link_to "Crear",  movies_new_path %> </button>
            <button class="secondary"> <%= link_to "Editar", search_movies_path %> </button>
            <button class="secondary"> <%= link_to "Eliminar", remove_movies_path %> </button>
            <button class="secondary"> <%= link_to "Buscar", movies_string_path %> </button>
            <%= form.label :query, "Buscar película o texto" %>
            <%= form.text_field :query, required: true, class: "input-width-search" %>
            <%= form.submit "Buscar", class: "input-width-search" %>
        <% end %>
    </div>
    <br>

    <% if @movie.errors.any? %>
        <div>
            <h4><%= pluralize(@movie.errors.count, "Error") %> - No se puede actualizar la película:</h4>
            <ul>
                <% @movie.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <br>
    <% end %>

    <%= form_with model: @movie, url: update_movies_path(@movie), method: :patch, local: true, data: { turbo: false } do |form| %>
        <div class="col-medium">
            <%= form.text_field :id, readonly: true, class: "input-width-number", min: 1 %>
        </div>
        <div class="col-large">
            <%= form.label :name, "Nombre (max 50 caracteres)" %>
            <%= form.text_field :name, required: true, class: "input-width-new" %>
        </div>
        <div class="col-large">
            <%= form.label :director, "Director (max 50 caracteres)" %>
            <%= form.text_field :director, required: true, class: "input-width-new" %>
        </div>
        <div class="col-large">
            <%= form.label :synopsis, "Sinopsis (max 250 caracteres)" %>
            <%= form.text_field :synopsis, required: true, class: "input-width-new" %>
        </div>
        <div class="col-medium">
            <%= form.submit "Actualizar", class: "input-width-new"  %>
        </div>
    <% end %>
</div>
<br>

