<div>
    <h1>Películas</h1>

    <div class="grid"> 
        <%= form_with url: movies_string_path, method: :get, local: true do |form| %>
            <button class="secondary"> <%= link_to "Volver", root_path %> </button>
            <button class="secondary"> <%= link_to "Listar", movies_index_path %> </button>
            <button class="secondary"> <%= link_to "Crear",  movies_new_path %> </button>
            <button class="secondary"> <%= link_to "Editar", search_movies_path %> </button>
            <button class="secondary"> <%= link_to "Eliminar", remove_movies_path %> </button>
            <button class="secondary"> <%= link_to "Buscar", movies_string_path %> </button>
            <%= form.label :query, "Buscar película o texto" %>
            <%= form.text_field :query, required: true, class: "input-width-search" %>
            <%= form.submit "Buscar", class: "input-width-search" %>
        <% end %>
    </div>
    <br>
    <h4>Id no existe</h4>
    <br>