<div>
    <h1>Películas</h1>

    <div class="grid"> 
        <%= form_with url: movies_string_path, method: :get, local: true do |form| %>
            <button class="secondary"> <%= link_to "Volver", root_path %> </button>
            <button class="secondary"> <%= link_to "Listar", movies_index_path %> </button>
            <button class="secondary"> <%= link_to "Crear",  movies_new_path %> </button>
            <button class="secondary"> <%= link_to "Editar", search_movies_path %> </button>
            <button class="secondary"> <%= link_to "Eliminar", remove_movies_path %> </button>
            <button class="secondary"> <%= link_to "Buscar", movies_string_path %> </button>
            <%= form.label :query, "Buscar película o texto" %>
            <%= form.text_field :query, required: true, class: "input-width-search" %>
            <%= form.submit "Buscar", class: "input-width-search" %>
        <% end %>
    </div>
    <br>

    <h2>Ingrese Id</h2>
    <%= form_with url: remove_movies_path, method: :post, local: true, data: { turbo: false } do |form| %>
        <div class="col-medium">
            <%= form.label :id, "Id (number)" %>
            <%= form.text_field :id, required: true, class: "input-width-number", min: 1 %>
        </div>
        <div class="col-medium">
            <%= form.submit "Eliminar", class: "input-width-number"  %>
        </div>
    <% end %>

</div>
<br>

