<div>
    <h1>Películas</h1>

    <div class="grid"> 
        <%= form_with url: movies_search_path, method: :get, local: true do |form| %>
            <button class="secondary"> <%= link_to "Volver", root_path %> </button>
            <button class="secondary"> <%= link_to "Listar", movies_index_path %> </button>
            <button class="secondary"> <%= link_to "Crear",  movies_new_path %> </button>
            <button class="secondary"> <%= link_to "Buscar", movies_search_path %> </button>
            <%= form.label :query, "Buscar película o texto" %>
            <%= form.text_field :query, required: true, class: "input-width-search" %>
            <%= form.submit "Buscar", class: "input-width-search" %>
        <% end %>
    </div>
    <br>

        <% if @movies.any? %>
        <table>
            <thead data-theme="light">
                <tr>
                    <th class="col-medium" scope="col">Nombre</th>
                    <th class="col-medium" scope="col">Director</th>
                    <th class="col-large"  scope="col">Sinopsis</th>
                </tr>
            </thead>
            <tbody class="striped">
                <% @movies.each do |movie| %>
                    <tr>
                        <td class="col-medium" scope="row"> <%= movie.name %> </td>
                        <td class="col-medium"> <%= movie.director %> </td>
                        <td class="col-large">  <%= movie.synopsis %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <br>
        <br>
    <% else %>
        <p></p>
    <% end %>

</div>
