<div>
    <h1>Documentales</h1>

    <div>
        <button class="secondary"> <%= link_to "Volver", root_path %> </button>
        <button class="secondary"> <%= link_to "Listar", documentaries_index_path %> </button>
        <button class="secondary"> <%= link_to "Crear",  documentaries_new_path %> </button>
    <div>
    <br>

    <table>
        <thead data-theme="light">
            <tr>
                <th class="col-medium" scope="col">Nombre</th>
                <th class="col-medium" scope="col">Director</th>
                <th class="col-large"  scope="col">Sinopsis</th>
            </tr>
        </thead>
        <tbody class="striped">
            <% @documentaries.each do |documentary| %>
                <tr>
                    <td class="col-medium" scope="row"> <%= documentary.name %> </td>
                    <td class="col-medium"> <%= documentary.director %> </td>
                    <td class="col-large">  <%= documentary.synopsis %> </td>
                </tr>
            <% end %>
        </tbody>
        <tfoot>
        </tfoot>
    </table>

    <button class="secondary"> <%= link_to "Subir", documentaries_index_path %> </button>
    <br>
    <br>
</div>