<div>
    <h1>Documentales</h1>

    <div>
        <button class="secondary"> <%= link_to "Volver", root_path %> </button>
        <button class="secondary"> <%= link_to "Listar", documentaries_listar_path %> </button>
        <button class="secondary"> <%= link_to "Crear",  documentaries_new_path %> </button>
    <div>
    <br>

    <h3>La película con los siguientes datos ha sido <%= @message %>:</h3>

    <ul>
        <li>Nombre   : <%= @documentary.name %></li>
        <li>Director : <%= @documentary.director %></li>
        <li>Sinopsis : <%= @documentary.synopsis %></li>
    </ul>
</div>