<div>
    <h1>Series</h1>

    <div>
        <button class="secondary"> <%= link_to "Volver", root_path %> </button>
        <button class="secondary"> <%= link_to "Listar", series_listar_path %> </button>
        <button class="secondary"> <%= link_to "Crear",  series_new_path %> </button>
    <div>
    <br>

    <h3>La serie con los siguientes datos ha sido <%= @message %>:</h3>

    <ul>
        <li>Id       : <%= @serie.id %></li>
        <li>Nombre   : <%= @serie.name %></li>
        <li>Director : <%= @serie.director %></li>
        <li>Sinopsis : <%= @serie.synopsis %></li>
    </ul>
</div>