<div>
    <h1>Series</h1>

    <div class="grid"> 
        <%= form_with url: series_search_path, method: :get, local: true do |form| %>
            <button class="secondary"> <%= link_to "Volver", root_path %> </button>
            <button class="secondary"> <%= link_to "Listar", series_index_path %> </button>
            <button class="secondary"> <%= link_to "Crear",  series_new_path %> </button>
            <button class="secondary"> <%= link_to "Buscar", series_search_path %> </button>
            <%= form.label :query, "Buscar película o texto" %>
            <%= form.text_field :query, required: true, class: "input-width-search" %>
            <%= form.submit "Buscar", class: "input-width-search" %>
        <% end %>
    </div>
    <br>

    <h3>La serie con los siguientes datos ha sido <%= @message %>:</h3>

    <ul>
        <li>Nombre   : <%= @serie.name %></li>
        <li>Director : <%= @serie.director %></li>
        <li>Sinopsis : <%= @serie.synopsis %></li>
    </ul>
</div>